

body {
    margin: 5px;
}

header {
    background-color: #edf0f0;
    border-radius: 10px;
}

#heading-title {
    font-size: 45px;
    width: 50%;
    margin: 10px auto;
    text-align: center;
    border-bottom: 2px grey solid;
}

#current-weather-city {
    color: cornflowerblue;
}

#current-weather {
    width:50%;
    margin: 0 auto;
    text-align: center;
    background-color: #edf0f0;
}

.box {
    background-color: #d8e3e3;
}

.city-button {
    margin: 2px;
}